.setup {
    font-weight: bold;
    margin-bottom: 15px;
    padding: 1em;
    background: var(--primary-colour);
    color: white;
}

.joke-detail .type {
    text-transform: uppercase;
    padding: 0.5em;
    font-size: 0.9em;
    font-weight: bold;
}

.joke-detail .punchline {
    padding: 0.5em;
    font-size: 1em;
}
